.Die{
    display: inline-block;
    margin: 0 10px;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color:cadetblue;
    color: white;
    width: 3em;
    height: 3em;
    border-radius: 10px;
    display: flex;
    margin-right: 0.5em;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
}